{% extends 'point_of_sale/homepage.html' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Αναλυση Προϊόντων Πώλησης</h4>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Filters
                        </a>
                        <a href="{{ request.path }}" class="btn btn-danger">Καθαρισμος</a><div class="collapse" id="collapseExample">
                            <form method="get" class="form">
                                 <div class="row">
                                      {% include 'filters/my_filters.html' %}
                                 </div>
                                 <button type="submit" class="btn btn-"><i class="fa fa-save"></i> Αποθηκευση </button>
                            </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h6>Συνολα ανα Πελατη</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Πελατης</th>
                                    <th>Ποσοτητα</th>
                                    <th>Αξια</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in sells_per_costumer %}
                                    <tr>
                                        <td>{{ cost.costumer__eponimia }}</td>
                                        <td>{{ cost.total_qty }}</td>
                                        <td>{{ cost.total_value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h6>Συνολα ανα Προϊον</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Προϊον</th>
                                    <th>Ποσοτητα</th>
                                    <th>Αξια</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for cost in sells_per_product %}
                                    <tr>
                                        <td>{{ cost.product__title }}</td>
                                        <td>{{ cost.total_qty }}</td>
                                        <td>{{ cost.total_value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

            <div class="col-8">
                <div class="card">
                    <div class="card-header">

                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Ημερομηνια</th>
                                    <th>Πελατης</th>
                                    <th>Προϊον</th>
                                    <th>Ποσοτητα</th>
                                    <th>Αξια</th>
                                    <th>Συνολικη Αξια</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order_items %}
                                    <tr>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.costumer }}</td>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.qty }} {{ item.get_unit_display }}</td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.total_value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}