{% extends 'point_of_sale/homepage.html' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>{{ object.date }} ==> {{ object.costumer }} => {{ object.tag_final_value }}</h4>
                    </div>
                    <div class="card-body">
                        <a href="{{ back_url }}" class="btn btn-warning pull-right"><i class="fa fa-align-left"></i> </a>
                        <a href="{% url 'point_of_sale:sale_order_print' object.id %}" class="btn btn-warning pull-left"><i class="fa fa-align-left"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                       <h5>Προϊοντα</h5>
                        <br>
                         <a href="{{ request.path }}"  class="btn btn-danger">Καθαρισμος</a>
                    </div>
                    <div class="card-body">
                        <form class="form">
                            <input data-href="{% url 'point_of_sale:ajax_search_products' object.id %}" name="q" type="text" class="form-control searchProducts" placeholder="Αναζητηση" />
                            <div class="form-group">
                              <input name='product_class_name' onclick="this.form.submit()" class="form-control"
                                     type="checkbox" value="_check" {% if request.GET.product_class_name == '_check' %} checked {% endif %} />
                                  <label class="form-check-label" for="defaultCheck1">
                                    Μονο δικα μας
                                  </label>
                            </div>
                        </form>
                        <br> <hr>
                        <div class="product_container">
                            {% include 'point_of_sale/ajax/product_container.html' %}
                        </div>
                    </div>
                </div>
            </div>
             <div class="col-6 .order_container">
                {% include 'point_of_sale/ajax/order_container.html' %}
            </div>
        </div>
    </div>
    <div class="modal_area"></div>
{% endblock %}

{% block extra_js %}
    <script type="application/javascript">
        $('.modal_button').click(function (evt) {
            evt.preventDefault();
            $('.modal_area').empty();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success: function (data) {
                    $('.modal_area').html(data.modal);
                    $('#myModal').modal('show')
                }
            })

        })
    </script>

    <script>
        $('.editOrderITem').click(function (evt) {
            evt.preventDefault()
            $('.modal_area').empty();
            evt.preventDefault();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success : function (data) {
                    $('.modal_area').html(data.modal);
                    $('#myModal').modal('show')
                }
            })
        })
    </script>

    <script>
        $('.deleteOrderItem').click(function (evt) {
          evt.preventDefault();
          const myBtn = $(this);
          const url = myBtn.attr('data-href');
          $.ajax({
              method: 'GET',
              dataType: 'json',
              url: url,

              success : function (data) {
                  $('.order_container').html(data.result)
              }
          })
        })
    </script>

    <script>
        $('.searchProducts').keyup(function (evt) {
            evt.preventDefault();
            const myInput = $(this);
            const url = myInput.attr('data-href');
            const q_value = myInput.val();
            
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url + '?q=' + q_value,
                
                success: function (data) {
                    $('.product_container').html(data.result)
                }
            })
        })
    </script>
{% endblock %}