{% extends 'dashboard.html' %}  {% load render_table from django_tables2 %}


{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Συνολική Εικόνα  ==> <span style="color: green"> {{ total }} {{ currency }} </span></h4>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Filters
                        </a>
                        <a href="{{ request.path }}" class="btn btn-danger">Καθαρισμος</a>
                        <a href="{{ back_url }}" class="btn btn-warning pull-right">Επιστροφη</a>
                    </div>
                    <div class="card-body">
                        <div class="collapse" id="collapseExample">
                            <form method="get" class="form">
                                 <div class="row">
                                      {% include 'filters/my_filters.html' %}
                                 </div>
                                 <button type="submit" class="btn btn-"><i class="fa fa-save"></i> Αποθηκευση </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">
                    <div class='row'>
                        <div class="col-4">
                            <canvas id="barChart" width="400" height="400"></canvas>
                        </div>
                        <div class='col-8' >
                            <canvas id="lineChart" width="400" height="400"></canvas>
                         </div>
                    </div>
                </h4>
              </div>
              <div class="card-body">
                <div class='row'>
                    <div class='col-4'>
                        <h4>Αναλυση ανα μηνα </h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>Ημερομηνια</th>
                                    <th>Κερδη</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ele in analysis_per_month %}
                                   <tr>
                                        <td>{{ ele.month.month }}/{{ ele.month.year }}</td>
                                        <td>{{ ele.total }}</td>
                                   </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class='col-4'>
                        <h4>Αναλυση ανα Πελατη</h4>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>Πελατης</th>
                                    <th>Ποσο</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for costumer in analysis_per_costumer %}
                                    <tr>
                                        <td>{{ costumer.costumer__eponimia }}</td>
                                        <td>{{ costumer.total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class='col-4'>
                            <h4>Αναλυση ανα Τροπο Πληρωμης</h4>
                            <table class='table table-bordered'>
                                <thead>
                                    <tr>
                                        <th>Τροπος Πληρωμής</th>
                                        <th>Ποσο</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for costumer in analysis_per_payment %}
                                        <tr>
                                            <td>{{ costumer.payment_method__title }}</td>
                                            <td>{{ costumer.total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <h4>Δεδομενα</h4>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>-</th>
                                    <th>Ημερομηνια</th>
                                    <th>Πελατης</th>
                                    <th>Ειδος Παραστ.</th>
                                    <th>ΦΠΑ</th>
                                    <th>Αξια</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for income in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ income.date }}</td>
                                        <td>{{ income.costumer }}</td>
                                        <td>{{ income.get_order_type_display }}</td>
                                        <td>{{ income.tag_total_taxes }}</td>
                                        <td>{{ income.tag_final_value }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="modal_area">

        </div>
    </div>

{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha256-TQq84xX6vkwR0Qs1qH5ADkP+MvH0W+9E7TdHJsoIQiM=" crossorigin="anonymous"></script>

    <script>
    var ctx = document.getElementById('barChart');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Εσοδα' , 'ΦΠΑ', 'Καθαρα Εσοδα'],
            datasets: [{
                label: 'Σε Ευρώ',
                data: [{{ total }}, {{ total_taxes }}, {{ diff }}],
                backgroundColor: [
                    'blue',
                    'red',
                    'green'

                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',

                ],
                borderWidth: 1
            }] },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
    <script>
    var ctx = document.getElementById('lineChart');
    var myChart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: [{% for ele in analysis_per_month %} {% if forloop.last %} '{{ ele.month }}'{% else %} '{{ele.month}}', {% endif %} {% endfor %}],
            datasets: [
                {
                    label: 'Εσοδα',
                    backgroundColor: 'green',
                    borderColor: 'green',
                    fill: false,
                    data:[{% for ele in analysis_per_month %} {% if forloop.last %} {{ ele.total }}{% else %} {{ele.total}}, {% endif %} {% endfor %}],
                }

                ]

            },
        options: {
            maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}