{% load static %}

<div class="sidebar" data-color="white" data-active-color="danger">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="{% url 'homepage' %}" class="simple-text logo-mini">
          <div class="logo-image-small">
            <img src="{% static 'assets/img/logo.png' %}">
          </div>
        </a>
        <a href="{% url 'homepage' %}" class="simple-text logo-normal">
         Αποθηκη
          <!-- <div class="logo-image-big">
            <img src="../assets/img/logo-big.png">
          </div> -->
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li>
            <a href="{% url 'settings:storage_list' %}">
              <i class="nc-icon nc-user-run"></i>
              <p>Αποθηκευτικοι Χωροι</p>
            </a>
            <a href="">
              <i class="nc-icon nc-user-run"></i>
              <p>Τροποι Πληρωμης</p>
            </a>
          </li>
        </ul>
      </div>
</div>