{% extends 'catalogue/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Επεξεργασια {{ object }}
                        </div>
                        <div class="card-body">
                            <form class="form" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Αποθηκευση </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="title">Επιλογή Συστατικών</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Προϊον</th>
                                    <th>Ποσοτητα</th>
                                    <th>Κοστος</th>
                                    <th>Επιλογες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for igre in object.ingredients.all %}
                                    <tr>
                                        <td>{{ igre }}</td>
                                        <td>{{ igre.qty }}</td>
                                        <td>{{ igre.cost }}</td>
                                        <td>--</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">Δε υπαρχουν δεδομενα</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h4>Προσθηκη</h4>
                        <form class="form" method="post" action="{% url 'catalogue:action_product_ingredient_create' object.id %}">
                            {% csrf_token %}
                            {{ product_ingredient_form }}
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> </button>
                        </form>
                    </div>

                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Επιλογή Αποθηκης
                        </div>
                        {% if object.product_class.have_storage %}
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Αποθηκη</th>
                                        <th>Απόθεμα</th>
                                        <th>Επιλογη</th>
                                        <th>Επιλογες</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for storage in object.storages.all %}
                                        <tr>
                                            <td>{{ storage }}</td>
                                            <td>{{ storage.qty }}</td>
                                            <td>{% if storage.priority %} Επιλεγμενη {% else %} -- {% endif %}</td>
                                            <td><a href="" class="btn btn-info"><i class="fa fa-edit"></i> </a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h4>Προσθηκη</h4>
                            <form class="form" method="post" action="{% url 'catalogue:action_product_storage_create' object.id %}">
                                {% csrf_token %}
                                {{ product_storage_form }}
                                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> </button>
                            </form>
                        </div>
                        {% else %}
                            <p>Δε υποστηρίζεται η αποηθηκη</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Στοιχεια Προϊόντος</h4>
                        <a href="{{ back_url }}" class="btn btn-warning"><i class="fa fa-backward"></i> </a>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Sku</td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Barcode</td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Προμηθευτης</td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Τιμη Αγορας</td>
                                    <th></th>
                                </tr>
                                <tr>
                                    <td>Τιμη Πωλησης</td>
                                    <th></th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}