{% extends 'catalogue/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Επεξεργασια {{ object }}
                        </div>
                        <div class="card-body">
                            <form class="form" method="post">
                                {% csrf_token %}
                                {{ form }}
                                <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> Αποθηκευση </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                {% if object.product_class.have_ingredient %}
                <div class="card">
                    <div class="card-header">
                        <div class="title">Επιλογή Συστατικών</div>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Προϊον</th>
                                    <th>Ποσοτητα</th>
                                    <th>Κοστος</th>
                                    <th>Επιλογες</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for igre in object.ingredients.all %}
                                    <tr>
                                        <td>{{ igre }}</td>
                                        <td>{{ igre.qty }}</td>
                                        <td>{{ igre.cost }}</td>
                                        <td><a href="{{ igre.get_edit_url }}" class="btn btn-info"><i class="fa fa-edit"></i> </a> </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">Δε υπαρχουν δεδομενα</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <h4>Προσθηκη</h4>
                        <form class="form" method="post" action="{% url 'catalogue:action_product_ingredient_create' object.id %}">
                            {% csrf_token %}
                            {{ product_ingredient_form }}
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> </button>
                        </form>
                    </div>

                </div>
                {% endif %}
                {% if product.product_class.have_storage %}
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            Επιλογή Αποθηκης
                        </div>
                        {% if object.product_class.have_storage %}
                        <div class="card-body">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Αποθηκη</th>
                                        <th>Απόθεμα</th>
                                        <th>Επιλογη</th>
                                        <th>Επιλογες</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for storage in object.storages.all %}
                                        <tr>
                                            <td>{{ storage }}</td>
                                            <td>{{ storage.qty }}</td>
                                            <td>{% if storage.priority %} Επιλεγμενη {% else %} -- {% endif %}</td>
                                            <td><a href="{{ storage.get_edit_url }}" class="btn btn-info"><i class="fa fa-edit"></i> </a></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h4>Προσθηκη</h4>
                            <form class="form" method="post" action="{% url 'catalogue:action_product_storage_create' object.id %}">
                                {% csrf_token %}
                                {{ product_storage_form }}
                                <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> </button>
                            </form>
                        </div>
                        {% else %}
                            <p>Δε υποστηρίζεται η αποθηκη</p>
                        {% endif %}

                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Στοιχεια Προϊόντος</h4>
                        <a href="{{ back_url }}" class="btn btn-warning pull-right"><i class="fa fa-backward"></i> </a>
                        <br><br>
                        <div class="dropdown-secondary dropdown">
                            <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Δημιουργία</button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                <button class="dropdown-item"  data-href="{% url 'catalogue:popup_vendor' %}" id="add_vendor" onclick="return addData(this);">Προμηθευτή</button>
                                 <button class="dropdown-item"  data-href="{% url 'catalogue:popup_storage' %}" id="add_vendor" onclick="return addData(this);">Αποθηκη</button>
                                <button class="dropdown-item"  data-href="{% url 'catalogue:popup_category' %}" id="add_vendor" onclick="return addData(this);">Κατηγορια</button>
                                <div class="dropdown-divider"></div>
                            </div>
                                                <!-- end of dropdown menu -->
                        </div>
                        <br><br>
                        <hr>
                        <a href="{% url 'catalogue:product_analysis' object.id %}" class="btn btn-info pull-right"><i class="fa fa-file"></i> Report </a>


                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tbody>
                                <tr>
                                    <td>Ειδος</td>
                                    <th>{{ object.product_class }}</th>
                                </tr>
                                <tr>
                                    <td>Sku | Κωδικος</td>
                                    <th>{{ object.sku|default_if_none:'-' }} | {{ object.order_sku|default_if_none:'-' }}</th>
                                </tr>
                                <tr>
                                    <td>Ποσοτητα</td>
                                    <th>{{ object.qty }} {{ object.get_unit_display }}</th>
                                </tr>
                                <tr>
                                    <td>Προμηθευτης</td>
                                    <th>{{ object.vendor|default_if_none:'-' }}</th>
                                </tr>
                                <tr>
                                    <td>Τιμη Αγορας</td>
                                    <th>{{ object.price_buy }} {{ currency }}</th>
                                </tr>
                                <tr>
                                    <td>Τιμη Πωλησης</td>
                                    <th>{{ object.final_price }} {{ currency }}</th>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="{% url 'catalogue:copy_product' object.id %}" class="btn btn-success pull-left"><i class="fa fa-copy"></i> </a>
                    </div>
                </div>

                <br>
                <hr>
                <a href="{{ object.get_delete_url }}" class="btn btn-danger pull-right" onclick="return confirm('Are tou sure?')"><i class="fa fa-remove"></i> Διαγραφη Προϊοντος</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
        function showEditPopup(url) {
            var win = window.open(url, "Edit",
                'height=500,width=800,resizable=yes,scrollbars=yes');
            return false;
        }
        function addData(triggeringLink) {
            const name = triggeringLink.id.replace(/^add_/, '');
            const btn = $(triggeringLink);
            href = btn.attr('data-href');
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false
        }
        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }
    </script>


{% endblock %}