{% extends 'warehouse/dashboard.html' %}


{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Επιλογη Προϊοντος</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Κωδ. Προμ</th>
                                    <th>Προϊον</th>
                                    <th>Τιμη Αγορας</th>
                                    <th>Εκπτωση</th>
                                    <th>Υπολοιπο</th>
                                    <th>--</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.order_sku }}</td>
                                        <td>{{ product }}</td>
                                        <td>{{ product.price_buy }}</td>
                                        <td>{{ product.order_discount }}</td>
                                        <td>{{ product.qty }}</td>
                                        <td><button data-href='{% url "warehouse:ajax_create_product" object.id product.id %}' type="button" class="btn btn-success add_button"><i class="fa fa-plus"></i> </button> </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4>Δημιουργια Προϊοντος</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form" action="{% url 'warehouse:create_product_from_invoice' object.id %}">
                            {% csrf_token %}
                            {{ product_form }}
                            <button type="submit" class="btn btn-success"> <i class="fa fa-save"></i> Αποθηκευση </button>
                        </form>
                    </div>
                    <div class="modal_area"></div>
                </div>
            </div>
            <div class='col-6'>
                <div class='card'>
                    <div class='card-header'>
                        <h4>Λεπτομεριες Τιμολογιου </h4>
                    </div>
                    <div class='card-body'>
                        <table class='table table-bordered'>
                            <thead>
                                <tr>
                                    <th>Κωδ. Τιμο</th>
                                    <th>Προϊον</th>
                                    <th>Ποσοτητα</th>
                                    <th>Αξία</th>
                                    <th>Εκπτωση</th>
                                    <th>Φπα</th>
                                    <th>--</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order_items %}
                                    <tr>
                                        <td>{{ item.order_code }}</td>
                                        <td>{{ item.product }}</td>
                                        <td>{{ item.qty }}
                                            {% if item.storage %}<br> {{ item.storage }}{% endif %}
                                        </td>
                                        <td>{{ item.value }}</td>
                                        <td>{{ item.discount }}</td>
                                        <td>{{ item.taxes_modifier }}</td>
                                        <td><button data-href="{% url 'warehouse:ajax_modify_order_item' item.id %}" type='button' class='btn btn-warning edit_button'><i class='fa fa-edit'></i> </button></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h4>Συνολικα Στοιχεια</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Ημερομηνια</li>
                                    <li class="list-group-item">Κωδικος Τιμ.</li>
                                    <li class="list-group-item">Αξια Προϊόντων</li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Προμηθευτης</li>
                                    <li class="list-group-item">Αξια</li>
                                    <li class="list-group-item">Κστασταση</li>
                                </ul>
                            </div>
                            <div class="col-12">
                                <hr>
                                <button class="card-link btn btn-info pull-right editInvoice"><i class="fa fa-edit"></i> Επεξεργασια</button>
                                <a href="#" class="card-link btn btn-success btn-danger pull-left"><i class="fa fa-remove" ></i> Διαγραφη</a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script>
        $('.add_button').click(function(evt){
            evt.preventDefault();
            $('.modal_area').empty();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success: function(data){
                    $('.modal_area').html(data.result);
                    $('#quick_view_modal').modal('show');
                }
            })
        })
    </script>

    <script>
        $('.edit_button').click(function (evt) {
            evt.preventDefault();
            $('.modal_area').empty();
            const myBtn = $(this);
            const url = myBtn.attr('data-href');
            $.ajax({
                method: 'POST',
                dataType: 'json',
                url: url,

                success: function (data) {
                    $('.modal_area').html(data.result);
                    $('#quick_view_modal').modal('show')
                }
            })
        })
    </script>

    <script>
        $('.editInvoice').click(function (evt) {
            evt.preventDefault();
            $('.modal_area').empty();
            const url = '{% url "warehouse:ajax_modify_invoice" object.id %}';
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: url,

                success: function (data) {
                    $('.modal_area').html(data.result);
                    $('#quick_view_modal').modal('show');
                }
            })
        })
    </script>

{% endblock %}