{% extends 'warehouse/dashboard.html' %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>{{ object }}</h4>
                        <a class="btn btn-info pull-left" href="{% url 'warehouse:print_invoice_transformation' object.id %}"><i class="fa fa-print"></i> </a>
                         <a href="{% url 'warehouse:transform_list' %}" class="btn btn-warning pull-right">Επιστροφη</a>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Ημερομηνια</td>
                                            <th>{{ object.date|date }}</th>
                                        </tr>
                                        <tr>
                                            <td>Τιτλος</td>
                                            <th>{{ object }}</th>
                                        </tr>
                                        <tr>
                                            <td>Πελάτης</td>
                                            <th>{{ object.costumer }}</th>
                                        </tr>
                                        <tr>
                                            <td>Τροπος Πληρωμής</td>
                                            <th>{{ object.payment_method }}</th>
                                        </tr>
                                        <tr>
                                            <td>Κοστολογηση</td>
                                            <th>{{ object.cost }}</th>
                                        </tr>
                                        <tr>
                                            <td>Aξια</td>
                                            <th>{{ object.value }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                                <hr>
                                <br>
                                {% if object.locked %}

                                    {% else %}
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                                        <i class="fa fa-edit"></i> Επεξεργασια
                                    </button>
                                    <a href="{% url 'warehouse:create_sale_from_trans' object.id %}"  class="btn btn-success">Μετατροπη σε πωληση</a>
                                    <button type="button" class="btn btn-danger">Διαγραφη</button>
                                </div>
                                {% endif %}
                                <!-- Button trigger modal -->

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-save"></i> </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                        <form class="form" method="post">
                                            {% csrf_token %}
                                            {{ form }}
                                            <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Αποθηκευση </button>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                            </div>

                            <div class="col-8">
                                <h4>Προσθηκη Νέου Προϊόντος</h4>
                                <form method="get" class="form">
                                    <input type="text" class="form-control search_products" placeholder="Αναζητηση" />
                                </form>
                                <div class="product_container">
                                    {% include 'warehouse/ajax/product_container.html' %}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% for item in object.invoicetransformationitem_set.all %}
                <div class="col-4">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col"><h4>{{ item }}</h4></div>
                                <div class="col"><a href="{{ item.get_delete_url }}" class="btn btn-warning pull-right"><i class="fa fa-remove"></i> </a></div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <ul class="list-group">
                                        <li class="list-group-item">Αξια Προϊόντος ==>{{ item.tag_value }}</li>
                                        <li class="list-group-item">Ποσοτητα ==>{{ item.qty }}</li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <ul class="list-group">
                                        <li class="list-group-item">Συνολικη Αξια ==> {{ item.tag_total_value }}</li>
                                        <li class="list-group-item">Συνολικό Κόστος ==> {{ item.tag_total_cost }}</li>
                                    </ul>
                                </div>
                            </div>
                            <br> <hr>
                            <a href="{{ item.get_edit_url }}" class="btn btn-info"><i class="fa fa-edit"></i> </a>
                        </div>
                        <div class="card-body">
                            <h6>Συστατικα</h6>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Προϊον</th>
                                        <th>Αποθηκη</th>
                                        <th>Ποσοτητα</th>
                                        <th>Αξια Μον.</th>
                                        <th>κοστος</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ingr in item.transf_ingre.all %}
                                        <tr>
                                            <td>{{ ingr.product.title }}</td>
                                            <td>{{ ingr.storage }}</td>
                                            <td>{{ ingr.qty }}</td>
                                            <td>{{ ingr.cost }}</td>
                                            <td>{{ ingr.total_cost }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $('.search_products').keyup(function (evt) {
            evt.preventDefault();
            const myData = $(this);
            const value = myData.val();
            $.ajax({
                method: 'GET',
                dataType: 'json',
                url: '{% url "warehouse:ajax_search_products" object.id %}' +'?search_name='+value,

                success: function (data) {
                    $('.product_container').html(data.result)
                }
            })
        })
    </script>

{% endblock %}